name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
      - name: Format
        run: uv run autopep8 --recursive --exit-code --diff . 
      - name: Lint
        run: uv run ruff check
      - name: Test
        run: uv run pytest

  docker:
    name: Docker
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Build
        uses: docker/build-push-action@v6
        with:
          push: false
          # To be changed
          tags: andig/evopt:latest
